{% extends "base.html.twig" %}

{% block title %}Projet SYMFONY - Recette Français - Accueil{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron mt-4">
            <h1 class="display-4">Bienvenue sur le projet des Recettes Françaises - projet SYMFONY</h1>
            <p class="lead">SymRecipe est une application qui va te permettre de créer des recettes à base d'ingrédients que tu auras toi-même créer. Tu pourras partager tes recettes à la communauté du site, ou bien les garder en privées.</p>
            <hr class="my-4">
            <p>S'inscrire pour utiliser l'application</p>
            <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">S'inscrire</a>
            </p>
        </div>

        <h3 class="display-4">Affiche tableau</h3>
        <p>

            {% for arrayIngredient in ingredient %}

            {{ <ingredient class="name"></ingredient> }}<br />

            {% endfor %}

        </p>





    </div>
{% endblock %}
